{
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "importOrder": [
    "^(next/(.*)$)|^(next$)|^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^@/(?!styles)(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
